body {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  text-align: center;
  background: #fef8ce;
  color: #9BC74C;
  text-decoration: none;
  padding: 10px;
}

h1 {
  font-size: 50px;
}

a:link {
  color: #9BC74C;
  text-decoration: underline;
}

a:visited {
  color: #9BC74C;
}

footer {
  background-color: #394817;
  color: #fde74c;
  font-size: 20px;
  padding: 1px;
}

table {
  color: #394817;
  width: 100%;
  background-color: #c2c0c1;
  border: 1px solid #211A1E;
  border-collapse: collapse;
}

th {
  background-color: #c3e8f7;
}

td.positive {
  color: #fde74c;
  border: 1px solid #211A1E;
}

td.negative {
  color: #c3423f;
  border: 1px solid #211A1E;
}

@keyframes example {
    from {
        color: #394817;
    }
    to {
        color: #9BC74B;
    }
}

input[type=submit] {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    background-color: #fef8ce;
    border-style: none;
    color: #9BC74C;
    text-decoration: underline;
    animation: example 1s;
}

input[type=text] {
    display: inline-table;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    border-style: dashed;
    border-color: #c2c0c1;
    background-color: #c2c0c1;
    color: #394817;
}
