body {
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  text-align: center;
  background: #fef8ce;
  color: #9BC74C;
  text-decoration: none;
  padding: 10px;
}

h1 {
  font-size: 40px;
}

a:link {
  color: #9BC74C;
  text-decoration: none;
}

a:visited {
  color: #9BC74C;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #394817;
  color: #fde74c;
  font-size: 16px;
  padding: 1px;
}
