<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
        <style>
            {{.Style}}
        </style>
        <title>LOGEY</title>
    </head>
    <body>
        <form action="register" method="post">
            <h2>Add entry!</h2>
            <table rules='all'>
                <tr>
                    <td>Description:</td>
                    <td>{{.Body.Query}}</td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td><input type="text" name="value" value="0.00">$</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
