<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"> 
        <style>
          {{.Style}}
        </style>
        <title>LOGEY</title>
    </head>
    <body>
        {{.}}
    </body>
</html>
