<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
        <style>
          {{.Style}}
        </style>
        <title>LOGEY</title>
    </head>
    <body>
        <h1>LOGEY</h1>
        <p>Logging your money since 2016</p>
        <div class="about">
            <h2>About</h2>
            <p>
                Logey is a simple money logging app. Every log you enter is
                stored in your computer.
            </p>
            <h2>How?</h2>
            <p>
                You can add your first money entry by going to the link at the end
                of this page. Then, your first log will appear along with your balance.
                Your balance will be updated as you add more entries.
            </p>
            <h2>Let's start?</h2>
            <p>
                <a href="add">Add your first entry to begin!</a>
                <!-- TODO Implement creation of logs from upload of raw logs -->
            </p>
        </div>
        {{.Footer}}
    </body>
</html>
