<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <style>
          {{.Style}}
        </style>
        <title>LOGEY</title>
    </head>
    <body>


    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">
          LOGEY
        </a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="add" class="pure-menu-link">Add</a></li>
          <li class="pure-menu-item"><a href="/" onclick="downloadLog()" class="pure-menu-link">Download</a></li>
        </ul>
      </div>
    </div>
      
    <br><br><br>

    <div class="content">
      <div class="log">
        <p>
          Balance: {{.Body.Balance}}
        </p>
        {{.Body.Entries}}
      </div>
    </div>
    {{.Footer}}
    <script type="text/javascript">
        {{.Script}}
    </script>
  </body>
</html>

