<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
        <style>
          {{.Style}}
        </style>
        <title>LOGEY</title>
    </head>
    <body>
        <h1>LOGEY</h1>
        <p>Logging your money since 2016</p>
        <p>
            <a href="login">Login</a> |
            <a href="sign_up">Sign Up</a>
        </p>
        {{.Footer}}
    </body>
</html>
