<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style>
    {{.Style}}
    </style>
    <title>LOGEY</title>
    </head>
  <body>


    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">
          LOGEY
        </a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="add" class="pure-menu-link">Add</a></li>
          <li class="pure-menu-item"><a href="upload" class="pure-menu-link">Upload</a></li>
        </ul>
      </div>
    </div>

    <div class="splash-container">
      <div class="splash">
        <h1 class="splash-head">LOGEY</h1>
        <p class="splash-subhead">
          Logging your money since 2016.
        </p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        <h2 class="content-head is-center">About Logey</h2>
        <div class="pure-g">
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <h3 class="content-subhead">
              What is Logey?
            </h3>
            <p>
              Logey is a simple money logging app. Every log you enter is stored in your computer.
            </p>
          </div>
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <h3 class="content-subhead">
              How does it work?
            </h3>
            <p>
              You can add your first money entry by going to the link at the end of this page. Then, your first log will appear along with your balance. Your balance will be updated as you add more entries. You can download your log to upload it later to restart your logging on another browser
            </p>
          </div>
        </div>
      </div>
    

      <div class="ribbon l-box-lrg pure-g">
        <div class="content">
          <h2 class="content-head content-head-ribbon is-center">Let's start?</h2>

          <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <h3 class="content-subhead">
              <a class="joe-ribbon-header" href="add">Add your first entry to begin!</a>
            </h3>
            <p>In case you have never used it before.</p>
          </div>
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <h3 class="content-subhead">
              <a class="joe-ribbon-header" href="upload">Upload a previous log!</a>
            </h3>
            <p>In case you already have something with you.</p>
          </div>
          </div>
        </div>
      </div>
    

      {{.Footer}}
    </div>
  </body>
</html>
