<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LOGEY</title>
    </head>
    <body>
        <form class="" action="submit" method="post">
            <legend>SIGN UP</legend>
            <p>Username: <input type="text" name="username" value=""></p>
            <p>Password: <input type="password" name="password" value=""></p>
            <p><input type="submit"></p>
        </form>
    </body>
</html>
